<!-- app/views/user_mailer/confirmation_instructions.html.erb -->

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Add your custom styles here */
      body {
        font-family: Arial, sans-serif;
      }
      .confirmation-link {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        color: white;
        background-color: #3498db;
        text-decoration: none;
        border-radius: 3px;
      }
    </style>
  </head>
  <body>
    <h1>Hello <%= @resource.email %>,</h1>
    <p>
      Thank you for signing up! You're just one click away from confirming your account.
    </p>
    <p>
      <%= link_to 'Confirm my account', @url, class: 'confirmation-link' %>
    </p>
    <p>
      If you didn't request this, please ignore this email.
    </p>
    <p>
      Your friends at YourApp
    </p>
  </body>
</html>