<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to My Awesome Site, <%= @user.name %>!</h1>
    <p>
      You have successfully signed up to our awesome site, <%= @user.name %>!
      Click the link below to login to your account:
    </p>
    <%= link_to 'Login', @url %>
  </body>
</html>