$blue: #3b74b4;
$white: #fff;
$grey: #e4e4e4;
$secondary-white: #f7f7f7;
$green: #67b930;
$normal-grey: #616161;
$light-grey: #8d8d8d;
$dark-grey: #2b2b2b;
$red: #c72727;

header {
    padding: 1rem 0.8rem;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: $blue;
    color: $white;
  }
  
  header h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 36px;
  }
  
  #homepage h1 {
    margin: auto;
  }
  
  main {
    background-color: $grey;
    padding: 0.8rem;
    flex: 1;
  }
  
  .with_actions {
    margin-bottom: 5rem;
  }
  
  .with_two_actions {
    margin-bottom: 10rem;
  }
  
  ul.group_list {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  
  main li {
    list-style: none;
  }
  
  span {
    display: block;
  }
  
  .item {
    background-color: $white;
    padding: 0.5rem;
    height: 6rem;
    display: flex;
    position: relative;
  }

  .icon {
    height: 100%;
    margin-right: 1rem;
  }

  .group_info {
    margin-top: 0.5rem;
    flex: 1;
    position: relative;
  }
  
  .group_info span {
    display: block;
  }

  .name {
    color: $normal-grey;
    font-size: 1.2rem;
  }

  .amount {
    color: $dark-grey;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .group_info .amount {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .date {
    color: $light-grey;
    font-size: 0.9rem;
  }
  
  .group_info .date {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
  }

  .btn {
    border: none;
    outline: 1px solid $white;
    outline-offset: -0.8rem;
    width: 100%;
    background-color: $green;
    height: 5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 5rem;
    display: block;
    align-self: center;
    text-transform: uppercase;
    color: $white;
    font-size: 1.2rem;
    font-weight: 400;
  }